@page
@model Smart_ECovid_IUT.Pages.SmartEcovid.IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "../Shared/_Layout_Lite.cshtml";
}

<div>
    <div class="border-bottom mb-4">
        <h1> Tableau de Bord</h1>
    </div>
    <div class="row">
        <div class="row col-md-8">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h3>Log alerte</h3>
                    </div>
                    <div class="card-body border-bottom">
                        <p>Cas Covid-19</p>
                        <p>dépasse Co2</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h3>Log Co2</h3>
                    </div>
                    <div class="card-body border-bottom">
                        <p>capteur</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h3>Log Etat plateforme</h3>
                    </div>
                    <div class="card-body border-bottom">
                        <p>Alert capteur</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
