@page
@model Smart_ECovid_IUT.Pages.Campus.CreeModifCampusModel
@using ClasseE_Covid.Campus;
@{
    ViewData["Title"] = "Home page";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="container">
    <div class="border-bottom mb-4">
        <h1> Création Campus</h1>
    </div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card mb-4">
                <div class="card-header border-bottom">
                    <h3>Création Batiment</h3>
                </div>
                <div class="card-body border-bottom">
                    <form method="post">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="Nom">Nom</label>
                                <input type="text" class="form-control leNom" id="nom" name="nom" placeholder="Nom" required />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="Nom">Km²</label>
                                <input type="text" class="form-control laSurface" id="surface" name="surface" placeholder="200" required />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="Nom" class="test">Etage</label>
                                <input type="text" class="form-control lEtage" id="etage" name="etage" placeholder="8" required />
                            </div>

                            <div class="etageenplus"></div>

                            <div class="col-md-6 mb-3 ">
                                <label for="Batiment">Campus</label>
                                <select class="form-control select2-multiple leCampus" name="campus" aria-hidden="true">
                                    @{
                                        if (Model.DDCampus != null)
                                        {
                                            foreach (Campus campus in Model.DDCampus)
                                            {
                                                <option value="@campus.IdCampus">@campus.NomCampus</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>


                        </div>
                        <button class="btn btn-primary envoie" type="submit" asp-page-handler="EnvoieDonne">Envoie</button>
                    </form>
                </div>
            </div>

            <div class="card  mb-4">
                <div class="card-header border-bottom">
                    <h3>Création Salle</h3>
                </div>
                <div class="card-body border-bottom">
                    <form method="post">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Batiment">Batiment</label>
                                <select class="form-control select2-multiple selectBat" name="batiment" aria-hidden="true">
                                    @{
                                        <option value="">-- Seletct Batiment --</option>
                                        if (Model.DDCampus != null)
                                        {
                                            foreach (Campus campus in Model.DDBatiment)
                                            {
                                                <option value="@campus.NomBatimen">@campus.NomBatimen</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-8 mb-3" id="DDPartialCreeIOTDevise">
                                <partial name="PartialIOTDevise/_PartialCreeIOTDevise" />
                            </div>
                            <div class="col-md-12 lesSalle">
                            </div>

                        </div>
                        <button class="btn btn-primary" asp-page-handler="EnvoieDonneSalle" type="submit">Submit form</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(".lEtage").keyup(function (e) {

        $(this).val($(this).val().replace(/[a-zA-Z]/, ""));

        if ($(this).val() == "0") {
            $(this).val("1");
        }

        if ($(this).val() >= 6) {
            $(this).val("6");
        }

        var etage = $(this).val();

        var intetage = parseInt(etage);

        var i;
        for (i = 0; i < intetage; i++) {

            var leclass = "superfice" + i.toString();

            var txt1 = '<div class="col-md-12 mb-3">\
        <label for= "' + leclass + '" class="' + leclass + '" >Superfice etage' + i.toString() + '</label> \
        <input type="text" class="form-control ' + leclass + ' " id="' + leclass + '" placeholder="200" name="' + leclass + '" required /> \
    </div >';
            $(".etageenplus").append(txt1);
        }
    })



    $(".selectBat").change(function () {
        var nomBatiment = $(this).children("option:selected").val();

        $.ajax({
            type: "GET",
            url: "?handler=EtageCharge",
            data: {
                nomBatiment: nomBatiment,
            }
        }).done(function (result) {
            $("#DDPartialCreeIOTDevise").html(result);
        })
    });
</script>