@model Smart_ECovid_IUT.Pages.Campus.CreeModifCampusModel
@using ClasseE_Covid.Campus;

<div class="row">
    <div class="col-md-6 mb-3 ">
        <label for="etage">Nom d'etage</label>
        <select class="form-control select2-multiple" name="etage" aria-hidden="true">
            <option value="null">"-- Selection de l'étage --"</option>
            @{
                if (Model.DDEtage != null)
                    foreach (DDEtage etage in Model.DDEtage)
                    {
                        <option value="@etage.DDIdEtage">@etage.DDNumEtage</option>
                    }
            }
        </select>
    </div>

    <div class="col-md-6 mb-3 ">
        <label for="etage">Nom de Salle</label>
        <input type="text" class="form-control label " id="nomSalle" name="nomSalle" placeholder="salle 3" required />
    </div>

    <div class="col-md-6 mb-3 ">
        <label for="etage">Capacite Max</label>
        <input type="text" class="form-control label " id="capacite" name="capacite" placeholder="10" required />
    </div>

    <div class="col-md-6 mb-3 ">
        <label for="etage">Surface de la Salle m²</label>
        <input type="text" class="form-control label " id="surface" name="surface" placeholder="200" required />
    </div>

    <div class="col-md-6 mb-3 ">
        <label for="etage">Volume m²</label>
        <input type="text" class="form-control label " id="volume" name="volume" placeholder="200" required />
    </div>
</div>
