@page
@model AlIndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "./Shared/_Layout_Lite.cshtml";
}

<div>
    <div class="border-bottom mb-4">
        <h1> Tableau de Bord</h1>
    </div>

    <div class="row ">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header border-bottom">
                    <h3>Log Covid</h3>
                </div>
                <div class="card-body border-bottom">
                    <p>Cas Covid-19 15/05/21</p>
                    <p>Cas Covid-19 18/05/21</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="card">
                <div class="card-header border-bottom">
                    <h3>Log Co2</h3>

                </div>
                <div class="card-body border-bottom">
                    <p>Co2 401 10h42 15/05/21</p>
                    <p>Co2 358 09h12 15/05/21</p>
                </div>
            </div>
        </div>
    </div>


</div>
