@page
@model AlPrivacyModel
@using ClasseE_Covid
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "../Shared/_Layout_Lite.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



