@page
@model Smart_ECovid_IUT.Pages.Utilisateur.CreeModifUtilisateurModel
@using ClasseE_Covid.Utilisateur;
@using ClasseE_Covid.Promotion;
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="border-bottom mb-4">
        <h1 class="letest"> Création Utilisateur</h1>
    </div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-header border-bottom">
                    <h3>Création Utilisateur</h3>
                </div>
                <div class="card-body border-bottom">
                    <form method="post">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Nom">Nom</label>
                                <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" required />
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Prenom">Prénom</label>
                                <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" required />
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationDefault03">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="coco@iut-nice.fr" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationDefault04">Mot de passe</label>
                                <input type="password" class="form-control verif" id="pwd" name="pwd" placeholder="Mf65$" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationDefault04">Vérification mot de passe</label>
                                <input type="password" class="form-control verif2" id="pwd2" name="pwd2" placeholder="Mf65$" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationDefault03">Formation</label>
                                <select class="form-control select" aria-hidden="true" id="formation" name="formation">
                                    @{
                                        if (Model.DDPromotion != null)
                                        {
                                            foreach (PromotionClass promo in Model.DDPromotion)
                                            {
                                                <option value="@promo.Id">@promo.Nom</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationDefault04">Niveau</label>
                                <select class="form-control select" aria-hidden="true" id="niveau" name="niveau">
                                    @{
                                        if (Model.DDNiveau != null)
                                        {
                                            foreach (Niveau niveau in Model.DDNiveau)
                                            {
                                                <option value="@niveau.IdNiveau">@niveau.LeNiveau</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationDefault04">Numéro référencielle </label>
                                <input type="text" class="form-control" id="num_ref" name="num_ref" placeholder="Num_ref" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationDefault03">Tel </label>
                                <input type="text" class="form-control" id="tel" name="tel" placeholder="0625639874" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationDefault04">Sexe</label>
                                <select class="form-control select" aria-hidden="true" id="sexe" name="sexe">
                                    <option value="F">Femme</option>
                                    <option value="H">Homme</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationDefault04">Anniversaire</label>
                                <input type="text" class="form-control dateAnniv" id="anniv" name="anniv" placeholder="1968-08-11" required>
                            </div>
                        </div>
                        <button class="btn btn-primary " type="submit" asp-page-handler="EnvoieDonne">Envoier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(".verif2").keyup(function (e) {
        var verif = $(this).val();
        var pass1 = $('.verif').val();

        if ($(this).val().length == $('.verif').val().length && verif != null) {
            if (verif != pass1)
                alert("ATTENTION LES 2 MOT DE PASSE NE SONT PAS IDENTIQUE")
        }
    })

    $(".dateAnniv").keyup(function (e) {
        var rech = $(this).val();

        var max = 10;

        if ($(this).val().length >= max) {
            $(this).val(rech.substr(0, max));
        }

        $(this).val($(this).val().replace(/[a-zA-Z]/, ""));

        var max = parseInt($(this).attr('max'));
        var min = "01";

        if ($(this).val().length == 11) {
            $(this).val($(this).val().replace(/./, ""));
        }

        if (($(this).val().length == 4 && $(this).val()[1] != "-" && event.which != 11) || ($(this).val().length == 7 && $(this).val()[1] != "-" && event.which != 11)) {
            if ($(this).val() > max) {
                $(this).val(max);
            }
            else if ($(this).val() < min) {
                $(this).val(min);
            }
            $(this).val($(this).val() + "-");
        }
    })
</script>